.navbar-light .navbar-brand {
    color: #e38f4b;
    font-weight: 600;
    letter-spacing: 5px;
    font-style: oblique;
  }
  
  .navbar-light .navbar-brand:hover {
    color: #F8F8F8;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #F8F8F8;
    font-weight: 500;
    font-style: oblique;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #e38f4b;
    font-weight: 500;
  }
  
  .navbar-brand {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    color: #F8F8F8;
  }
  
  .bg-img {
    background-image: url("https://i.postimg.cc/RhmzgV0w/1-1.jpg");
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .carousel-caption {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav-h1 {
    font-family: "Dancing Script", cursive;
  }
  
  .nav-h1 .btn-1 {
    background: #e38f4b;
    border: none;
    color: #F8F8F8;
  }
  
  .nav-h1 .btn-1:hover {
    background: #F8F8F8;
    color: #e38f4b;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;
  }
  
  .services h2 {
    font-size: 42px;
    font-weight: 800;
    color: #2B2B28;
    font-family: "Open Sans Condensed", sans-serif;
  }
  
  .services h3 {
    font-size: 18px;
    font-family: "Open Sans Condensed", sans-serif;
    opacity: 0.8;
    font-style: oblique;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Dancing Script", cursive;
    margin-bottom: 42px;
  }
  
  .information i {
    color: #E3B04B;
    font-size: 68px;
  }
  
  .information h4 {
    font-size: 28px;
    font-weight: 300;
    margin: 12px 0;
  }
  
  .information h5 {
    font-size: 14px;
    opacity: 0.8;
  }
  
  .services-icons {
    margin-bottom: 70px;
  }