.navbar-light .navbar-brand {
    color: #e38f4b;
    font-weight: 600;
    letter-spacing: 5px;
    font-style: oblique;
  }
  
  .navbar-light .navbar-brand:hover {
    color: #F8F8F8;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #F8F8F8;
    font-weight: 500;
    font-style: oblique;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #e38f4b;
    font-weight: 500;
  }
  
  .navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: #F8F8F8;
  }
  
  .bg-img {
    background-image: url("https://i.postimg.cc/RhmzgV0w/1-1.jpg");
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .carousel-caption {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .nav-h1 {
    font-family: "Open Sans", cursive;
  }
  
  .nav-h1 .btn-1 {
    background: #e38f4b;
    border: none;
    color: #F8F8F8;
  }
  
  .nav-h1 .btn-1:hover {
    background: #F8F8F8;
    color: #e38f4b;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;
  }
  
  .services h2 {
    font-size: 38px;
    font-weight: 600;
    color: #2B2B28;
    font-family: "Open Sans", sans-serif;
  }
  
  .services h3 {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    opacity: 0.8;
    font-style: oblique;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", cursive;
    margin-bottom: 42px;
  }
  
  .information i {
    color: #F8F8F8;
    font-size: 68px;
    background: #e38f4b;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    line-height: 160px;
  }
  
  .information h4 {
    font-size: 28px;
    font-weight: 300;
    margin: 12px 0;
  }
  
  .information h5 {
    font-size: 14px;
    opacity: 0.8;
  }
  
  .services-icons {
    margin-bottom: 70px;
  }

  .services-icons i {
      border-radius: 50%;
  }

  .card {
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  
  .card .card-title {
    font-weight: 600;
  }
  
  .card .card-text {
    display: flex;
    justify-content: center;
    font-style: oblique;
    letter-spacing: 3px;
  }
  
  .bg {
    background-color: #F8F8F8;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  
  .portfolio {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    border: none;
  }

  .card-title {
    text-align: center,
  }

  p {
      font-size: 20px;
      align-items: center;
      justify-content: center;
  }


  .page-footer .container {
    margin: 10px auto;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }
  
  .sites-box {
    display: flex;
    justify-content: center;
  }
  
  .sites-box .sites {
    flex-direction: row;
    color: #2B2B28;
    font-size: 40px;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 460px) {
  .footer .container {
    position: absolute;
    left: 0;
    }
  }

  @media (max-width: 460px) {
  .bg-img {
    min-height: 300px;
    }

  .nav-h1 h1 {
    font-size: 20px;
  }

  .nav-h1 h2 {
    font-size: 10px;
  }

  .information i {
    font-size: 35px;
    height: 100px;
    width: 100px;
    line-height: 100px; 
  }

  .sites-box .sites {
    font-size: 18px;
    margin-top: 12px;
  }

  .page-footer .container p {
    font-size: 10px;
    margin: 5px;
  }
  }